@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}


/* Swiper Slide */
.swiper {
  width: 100%;
  /* height: 300px; */
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  /* max-height: 400px; */
}

.mySwiper2 {
  /* height: 80%; */
  /* width: 100%; */
}

.mySwiper {
  /* height: 20%; */
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  /* width: 25%;
  height: 100%; */
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
